.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* justify-content: space-around; */
    
}

.panel{
    border: 1px solid;
    height: 75%;
    background-color: yellow;
   
}

.left-panel {
    width: 40%;
    margin-left: 4%;
    padding: 10px;
}

.right-panel{
    width: 50%;
    margin-right: 4%; 

    /* margin-top: 10px;
    margin-bottom: 10px; */

}
