.home-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.panel {
  /* height: 75%; */
  background-color: #ffd8a9;
  border-radius: 10px;
}

.left-panel {
  width: 40%;
  padding: 10px;
  /* background-color: red; */
  margin: 3rem;
}

.right-panel {
  width: 60%;
  margin-right: 2rem;
}

/* media queries */

@media (max-width: 1350px) {
  .home-container {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
  }

  .right-panel {
    width: 100%;
  }
}
